<div class="row">
  <div class="col-md-6">
    <h1>Email validation with MX record checking</h1>
    <br />
    <%= simple_form_for @user do |f| %>
      <%= f.input :email %>
      <%= f.button :submit, 'Check' %>
    <% end %>
    <% if @user.email and @user.valid? %>
      <br />
      <div class="alert alert-success" role="alert">
        The email is okay!
      </div>
    <% end %>
  </div>
</div>
